@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

h1::selection,
h2::selection,
h3::selection,
p::selection,
span::selection,
strong::selection,
li::selection,
button::selection,
label::selection,
a::selection,
img::selection {
  background-color: rgb(185 28 28);
}

header {
  transition: all 0.3s ease-in-out;
}

header.translate {
  transform: translateY(-100%);
}

aside {
  transition: all 0.25s ease-in-out;
}

aside.close {
  transform: translateX(+100%);
}

aside.open {
  transform: translateX(0);
}

svg.active {
  transform: rotate(180deg);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}